* {
    margin: 0;
}

body {
    font-family: sans-serif;
}
h1 {
    padding: .5em;
}
p {
    line-height: 1.5em;
    margin-bottom: .5em;
}
a {
    color: #306596;
}
a:hover {
    color: #cc4731;
}
label {
    margin-left: .5em;
}
.about-link {
    float: right;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5em;
    padding-right: 2em;
    padding-top: 1em;
}
.wrapper {
    overflow: hidden; /* To clear contents */
    zoom: 1; /* To fix IE6 bugs with floats */
}
.content {
    margin: 1em auto 4em auto;
    width: 960px;
    position:relative;
}
.popup-box {
    padding: 4px;
    border-radius: 1px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px #CCC;
    font-size: .7em;
    border: 1px solid #CCC;
}
.lang {
    color: #bdc3c7;
    padding: auto .5em;
}
.loc {
    border-bottom: 1px dashed #ccc;
}
.bg {
    padding: 3px;
    background: #eee;
    border-radius: 3px;
    margin: 1em;
}
.rc-list {
    border: 1px solid #2f6fab;
    background: #f8f8f8;
    list-style-type: none;
    margin: 0.5em;
    line-height: 1.5em;
    font-size: .8em;
}
.rc-list ul {
    height: 30em;
}
.rc-list h3 {
    padding: .5em;
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #d8e6ec;
    font-size: 2em;
}
.note {
    margin: 0;
    padding: .5em;
    background: #fff;
    border-top: 1px solid #d8e6ec;
    font-size: .8em;
    color: #ccc;
    padding-bottom: 1px;
}
.foot {
    padding: 1em .5em 0 .5em;
    margin: 1em;
}
.foot h3 {
    margin-bottom: 1em;
    border-bottom: 1px solid #d8e6ec;
}
.conStatus {
    color: #bdc3c7;
}
#header {
    background: #f8f8f8;
    margin: 0;
    border-bottom: 1px solid #d8e6ec;
}
#edit_counter {
    font-size: 1.5em;
    color: #000;
}
#edit_counter span {
    color: #cc4731;
}
#map {
    height: 450px;
    width: 900;
    padding: .5em;
}
#loading {
    position:absolute;
    top:3em;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    font-size: 4em;
    color: #fff;
    background-color: rgba(189, 195, 199, 0.6);
}
#loading p {
    text-align: center;
    margin: 0.5em;
}
